/*RESET*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* ESTILOS GENERALES*/
/*LOGO PRINCIPAL*/
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black; }

/*ESTILOS GENERALES DEL HEADER*/
header {
  display: flex;
  justify-content: center;
  color: #ff914d;
  background: linear-gradient(rgba(7, 7, 7, 0.842), #e5e5e5); }

/*ESTILOS GENERAL DEL MAIN*/
main {
  background-color: #E5E5E5; }

main .volver {
  margin-bottom: 3rem;
  text-align: center;
  color: #ff914d;
  text-decoration: none; }

/*ESTILOS GENERALES DE FOOTER*/
footer {
  width: 100%;
  padding-top: 1px;
  text-align: center;
  background-color: black;
  color: #ff914d; }
